.box-container {
  background-color: #ffffff;
  min-width: 200px;
  max-width: 1300px;
  border-radius: 5px;
  margin: 30px 30px 0 30px;
  border: 1px solid rgba(91, 91, 91, 0.2);
  padding: 20px 20px 20px 10px;
}

.box-container:hover {
  box-shadow: 0px 10px 10px 0px rgba(78, 78, 78, 0.2);
}

.card-box {
  width: 80%;
}

.footer-box {
  display: flex;
  justify-content: space-around;
  font-size: 0.8em;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  padding-top: 10px;
}

.url-img {
  width: 100%;
  height: fit-content;
  border-radius: 5px;
  margin: 0 0 30px 40px;
}

.post-title {
  font-size: 1.2em;
}
.comment-box {
  display: flex;
  font-size: 1em;
  align-items: center;
}

.title-box {
  display: flex;
  align-items: center;
}

.ups {
  margin-right: 10px;
  background-color: aqua;
}

.btn-comments {
  color: #3f3098;
  width: 1.5em;
  height: 1.5em;
  margin-right: 5px;
}

.author-post {
  color: #3f3098;
}

.original-post {
  text-align: center;
  font-size: 2em;
  margin: 0 0 2em 5em;
}
.original-post a {
  text-decoration: none;
  color: #3f3098;
}

.hiddenSubreddits {
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: #3f3098;
}
@media screen and (max-width: 900px) {
  .post-title {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 800px) {
  .post-title {
    font-size: 1.2em;
  }
}
@media screen and (max-width: 700px) {
  .post-title {
    font-size: 1em;
  }
}
@media screen and (max-width: 600px) {
  .post-title {
    font-size: 0.8em;
  }
  .original-post {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 500px) {
  .post-title {
    font-size: 0.8em;
  }
}
@media screen and (max-width: 400px) {
  .post-title {
    font-size: 0.7em;
  }
  .box-container {
    margin: 30px 10px 0 10px;
  }
  .btn-comments {
    height: 1em;
    width: 1em;
    margin-right: 2px;
  }
  .footer-box {
    font-size: 0.5em;
  }
  .original-post {
    font-size: 0.5em;
  }
}
