.vote {
  height: 1.5em;
  width: 1.5em;
  color: rgb(126, 126, 126);
}

.voteActiveUp {
  height: 1.5em;
  width: 1.5em;
  color: rgb(129, 225, 129);
}

.voteActiveDown {
  height: 1.5em;
  width: 1.5em;
  color: rgb(220, 96, 96);
}
.votesUps {
  font-size: 1em;
  margin-bottom: 5px;
}

.box-likes {
  margin-right: 20px;
  /* margin-top: 40px; */
  text-align: center;
}

@media screen and (max-width: 400px) {
  .vote {
    height: 0.7em;
    width: 0.7em;
  }
  .voteActiveDown {
    height: 0.7em;
    width: 0.7em;
  }
  .voteActiveUp {
    height: 0.7em;
    width: 0.7em;
  }
  .votesUps {
    font-size: 0.5em;
  }
}
