.vote {
  height: 25px;
  width: 25px;
  color: rgb(126, 126, 126);
}

.voteActiveUp {
  height: 25px;
  width: 25px;
  color: rgb(129, 225, 129);
}

.voteActiveDown {
  height: 25px;
  width: 25px;
  color: rgb(220, 96, 96);
}
.votesUps {
  font-size: 16px;
  margin-bottom: 5px;
}
