.subreddits-box {
  background-color: #ffffff;
  grid-column: 2;
  height: fit-content;
  width: fit-content;
  margin-top: 30px;
  margin-right: 30px;
  padding: 20px 20px 20px 20px;
  border-radius: 10px;
}

.subreddit-text {
  width: 20rem;
  margin: 20px 20px 20px 0px;
  padding: 10px 10px 10px 30px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.subreddit-text:hover {
  background-color: #ebebeb;
}
.subreddit-text h2 {
  margin-bottom: 5px;
  font-size: 16px;
}
.subreddit-title {
  font-size: 20px;
}
.subreddit-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px black solid;
}
