.subreddits-box {
  background-color: #ffffff;
  grid-column: 2;
  height: fit-content;
  width: 400px;
  margin-top: 30px;
  padding: 20px 5px 20px 5px;
  border-radius: 5px;
  border-bottom: 4px solid rgba(91, 91, 91, 0.2);
  border-right: 4px solid rgba(91, 91, 91, 0.2);
}

.subreddits {
  margin: 1px 0 1px 0px;
  padding: 10px 0 10px 30px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.subredditsActive {
  margin: 1px 0 1px 0px;
  padding: 10px 0 10px 30px;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  background-color: #e6e2ff;
  border-right: #3f3098 solid 2px;
  border-left: #3f3098 solid 4px;
  color: #3f3098;
  font-size: 18px;
  text-decoration: none;
}

.subreddits:hover {
  background-color: #ebebeb;
}
.subreddit-name {
  margin-bottom: 5px;
}
.subreddit-title {
  font-size: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.subreddit-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px #3f3098 solid;
}
