.subreddits-box {
  background-color: #ffffff;
  height: fit-content;
  min-width: 400px;
  margin: 30px 10px 0 15px;
  padding: 20px 5px 20px 5px;
  border-radius: 5px;
  border-bottom: 4px solid rgba(91, 91, 91, 0.2);
  border-right: 4px solid rgba(91, 91, 91, 0.2);
}

.subreddits {
  margin: 1px 10px 1px 10px;
  padding: 10px 0 10px 30px;
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fff;
  cursor: pointer;
  font-size: 1em;
  color: black;
  text-decoration: none;
}
.subredditsActive {
  margin: 1px 10px 1px 10px;
  padding: 10px 0 10px 30px;
  display: flex;
  align-items: center;
  height: 50px;
  cursor: pointer;
  background-color: #e6e2ff;
  border-right: #3f3098 solid 2px;
  border-left: #3f3098 solid 4px;
  color: #3f3098;
  font-size: 1em;
  text-decoration: none;
}

.subreddits:hover {
  background-color: #ebebeb;
}
.subreddit-name {
  margin-bottom: 5px;
}
.subreddit-title {
  font-size: 1.5em;
  margin-left: 20px;
  margin-bottom: 20px;
}
.subreddit-img {
  height: 30px;
  width: 30px;
  margin-right: 10px;
  border-radius: 100%;
  border: 2px #3f3098 solid;
}

@media screen and (max-width: 1700px) {
  .subreddits-box {
    display: flex;
    flex-wrap: wrap;
    min-width: 200px;
  }
  .subreddit-title {
    font-size: 1.5em;
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .subreddit-title {
    font-size: 0.8em;
  }
  .subreddits {
    font-size: 0.5em;
    margin: 1px;
    padding: 1px;
    height: 20px;
  }
  .subredditsActive {
    font-size: 0.5em;
    margin: 1px;
    padding: 1px;
    height: 20px;
    border: none;
  }
  .subreddit-img {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .subreddit-title {
    font-size: 1em;
  }
  .subreddits {
    font-size: 0.8em;
    margin: 5px;
    padding: 5px;
    height: 30px;
  }
  .subredditsActive {
    font-size: 0.8em;
    margin: 5px;
    padding: 5px;
    height: 30px;
    border: none;
  }
  .subreddit-img {
    display: none;
  }
}
