.container-box {
  min-width: 200px;
  max-width: 1300px;
  margin: 30px 40px 0 30px;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
}

.flex-box-comments {
  display: flex;
  justify-content: space-between;
}
.box-comments {
  background-color: #fff;
  cursor: pointer;
  padding: 40px;
  border-radius: 5px;
  margin: 10px;
  box-shadow: 0px 10px 10px 0px rgba(78, 78, 78, 0.2);
}

.box-comments:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.comments-time {
  text-align: center;
  font-size: 0.8em;
}

.comments-author {
  font-size: 1.2em;
  color: #3f3098;
}

.comments-text {
  font-size: 1em;
  margin-top: 30px;
}

.goback-btn {
  font-size: 1em;
  margin-bottom: 50px;
  cursor: pointer;
  background-color: #3f3098;
  width: 20%;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-top: 50px;
}
.goback-btn:hover {
  background-color: #4f42a0;
}
.goBack-box {
  text-align: center;
}

@media screen and (max-width: 1000px) {
  .comments-time {
    font-size: 0.5em;
  }
  .comments-text {
    font-size: 0.7em;
  }
  .comments-author {
    font-size: 0.6em;
  }
  .goback-btn {
    font-size: 0.5em;
    height: 30px;
  }
}
