* {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  background-color: #ebebeb;
  font-family: "Montserrat", sans-serif;
}
.grid-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 30px;
}

.App {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
